.hide {
  display: none;
}

body {
  background-image: url("../../img/galaxy.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 20px;
  color: white;
}

.jumbotron {
  background-color: rgba(125, 86, 142, .4);
  color: white;
  text-align: center;
}

.btn {
  background-color: rgba(125, 86, 142, .4);
}
:hover .btn {
  color: white;
}

.gender {
  color: black;
}

.results {
  text-align: center;
}

form {
  margin-left: 40%;
}

input {
  color: black;
  max-width: 15%;
}
